{% extends "layouts/index.twig" %}

{% block content %}
<h5>Hello, {{name}}!</h5>
<div>
    Welcome to <b>your</b> <span class="text-danger">Strato</span> Project.
</div>
<div>
    <ul class="p-4">
        <li><a href="https://github.com/moisesduartem/strato">Github</a></li>
        <li><a href="https://packagist.org/packages/strato/strato">Packagist</a></li>
    </ul>
</div>
{% endblock content %}