{% extends 'layouts/index.twig' %}

{% block content %}
<ul>
    <li class="nav-link">
        <h1>404 Not Found</h1>
    </li>
    <li class="nav-link">
        <a href="/">Back</a>
    </li>
</ul>
{% endblock content %}